body {
    font-family: 'Arial', sans-serif;
    background-color: #c2c2c2;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
    padding: 30px;
    border: 5px solid rgba(255, 255, 255, .5);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 2em;
    color: #333333;
    margin-bottom: 20px;
}

.color-picker {
    margin-bottom: 20px;
}

#colrInput {
    width: 80px;
    height: 50px;
    border: none;
    cursor: pointer;
}

p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
}

.color-display {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}